@keyframes blink{
    0% {opacity: 100%;}
    50% {opacity: 75%;}
    100% {opacity: 100%;}
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Consolas, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

body{
    height: 98vh;
    background-color: black;
}

#game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 5px;
    height: 100%;
    width: auto;
    margin: 5px;
    padding: 5px;
    background-color: rgb(20, 20, 20);
}

#navigation{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    margin: 5px;
}

#gamelog{
    height: 50px;
    width: auto;
    border: 2px solid rgb(220, 220, 220);
    margin: 5px 0px 5px 0px;
    flex: 1;
    flex-shrink: 0;
    border-radius: 5px;
    background:linear-gradient(0deg, rgb(20, 20, 20) 0%, black 100%);
    font-size: 0.75rem;
    padding: 5px;
}

.btn{
    font-family: Consolas, Arial, Helvetica, sans-serif;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(199, 36, 44);
    border:3px solid rgb(155, 18, 25);
    transition: background-color 0.25s ease;
    color: white;
    font-size: 1rem;
    white-space: nowrap;
}

.btn:disabled{
    background-color: hsl(357, 0%, 43%);
    border:3px solid rgb(75, 75, 75);
    color: rgb(200, 200, 200);
}

.btn:hover:enabled{
    background-color: rgb(236, 75, 75);
}

#map{
    flex: 3;
    border: 2px solid rgb(220, 220, 220);
    margin: 5px;
    text-align: center;
    border-collapse: collapse;
    user-select: none;
}

td{
    padding: 2px 15px 2px 5px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    width: auto;
    height: auto;
    max-width: 1px;
    border: 1px solid rgb(220, 220, 220);
    font-size: 0.6rem;
}

.runner{
    background-color: rgb(255, 196, 0);
}

.hunter{
    background-color: rgb(199, 36, 44);
}

.undefined{
    background-color: hsl(0, 0%, 30%);
}

.textrunner{
    color: rgb(255, 196, 0);
}

.texthunter{
    color: rgb(199, 36, 44);
}

.textundefined{
    color: hsl(0, 0%, 30%);
}

.runner, .hunter, .undefined{
    animation: 1s blink ease infinite;
}

.runner.hunter{
    background-color: rgb(255, 81, 0);
}

tr:last-of-type td{
    height: 5px;
    border: none;
}

td:last-child{
    width: 5px;
    border: none;
}

p{
    margin: 5px 0 5px 0;
    white-space: nowrap;
}

#gamelog p{
    white-space: normal;
}

b{
    color: rgb(255, 255, 152);
}